<% include ../partials/_header %>

<body>
  <h4>Urls_show.ejs aka edit page</h4>

  <h3>ShortURL: <%= shortURL %></h3>

  <p>total clicks: <%= totalClicks%></p>
  <p>total unqiue: <%= totalUniques%></p>
  <!-- Time table -->
  <% if ( timeTable ) { %>
    <% Object.keys(timeTable).forEach(function(key){ %>
      <% timeTable[key].forEach(function(stamp){ %>
        <p>User Id: <span class="text-info"><%=key %> </span>clicked <span class="text-info">shortly link <%= shortURL %></span>  at this time: <span class="text-success"><%= stamp %></span> </p>
      <% }); %>
    <% }); %>
  <% } %>

  <form action="/urls/<%=shortURL%>?_method=PUT " method="POST">
    <!--<form action="/urls/<%=shortURL%> " method="POST">-->
    <input type="text" name="updateLongUrl" id="updateLongUrl" placeholder="<%= longURL%>">
    <button type="submit" value="submit">Update</button>
  </form>

</body>
</html>


