<% include ../partials/_header %>

<body>
    <h4>URL Index</h4>
    <ul>
        <% for(var shortUrl in urls) { %>
        <!-- loop only the posts that match this user id -->
            <% if ( urls[shortUrl].user_id  === username ) { %>
                <li style="display:block">
                    <hr>

                    <form action="/track/?" method="GET">
                        <input type="hidden" name="shortUrl" value="<%= shortUrl %>">
                        <input type="hidden" name="longUrl" value="<%= urls[shortUrl].longUrl%>">
                        <button class="btn btn-link" type="submit"><%= shortUrl %> </button>
                        <button class="btn btn-success" type="submit"><%= urls[shortUrl].longUrl %></button>
                    </form>
                    <form style="display:inline-block" action="/urls/<%= shortUrl %>">
                        <button class="btn btn-primary m-1" type="submit">Edit</button>
                    </form>
                    <form style="display:inline-block" method="POST" action="/urls/<%= shortUrl %>?_method=DELETE">
                        <button class="btn btn-danger m-1" type="submit">Delete</button>
                    </form>

                    <hr>

                  <!--<p style="margin-bottom:0;margin-top:10; display:inline-block;">-->
                      <!--<a href="<%= urls[shortUrl].longUrl %>"><%= shortUrl %> </a> ⟶ <a> <%= urls[shortUrl].longUrl  %> </a> </p>-->
                      <!--&lt;!&ndash;<a href="<%= urls[shortUrl].longUrl %>"><%= shortUrl %> </a> ⟶ <a> <%= urls[shortUrl].longUrl  %> </a> </p>&ndash;&gt;-->
                    <!--<form style="display:inline-block" action="/urls/<%= shortUrl %>">-->
                        <!--<button class="btn btn-primary m-1" type="submit">Edit</button>-->
                    <!--</form>-->
                    <!--<form style="display:inline-block" method="POST" action="/urls/<%= shortUrl %>?_method=DELETE">-->
                        <!--<button class="btn btn-danger m-1" type="submit">Delete</button>-->
                    <!--</form>-->
                </li>
            <% } else { %>
                    <!--<li><a href="<%  urls[shortUrl].longUrl %>"><%= shortUrl %></a> </li>-->
                    <li>
                        <form action="/track/?" method="GET">
                            <input type="hidden" name="shortUrl" value="<%= shortUrl %>">
                            <input type="hidden" name="longUrl" value="<%= urls[shortUrl].longUrl %>>">
                            <button class="btn btn-link" type="submit"><%= shortUrl%> </button>
                            <!--<button type="submit"><a href="<%= urls[shortUrl].longUrl %>"><%= shortUrl %></a></button>-->
                        </form>
                    </li>

        <% }} %>
    </ul>

    <a style="margin-left: 39px" href="/urls/new">Shorten New Url</a>
</body>
</html>


